<section class="ui raised segment">
<div class="table-wrapper-wrapper">
   <div class="header-report"> 
     <h3><div class="ui orange large label"> {{ numOfProperties }} </div>&nbsp;
      <i class="map marker alternate LARGE icon"></i>  Markers on your Map</h3> 

     </div>
      <div class="table-wrapper"> 
    
      <table class="ui celled padded table">
         <thead>
           <th>Address</th>
            <th>Eircode</th>
             <th>Added By</th>
            <th>Details</th>
             <th>Delete
             <div class="meta">Owners Only</div></th>
         </thead>
        <tbody>
         {{#each properties }}
        <tr>
          <td>
              {{ address }}
          </td>
        <td>
          <div class="meta">  {{eircode}} </div> 
        </td>
        <td>
          {{ agent.firstName }} &nbsp; {{ agent.lastName }}
        </td>
        <td>
         <a href="/editproperty/{{id}}" > View   </a>
      </td>
      <td>
         <a href="/deleteproperty/{{id}}" ><i class="ui trash icon"> </i> </a>
      </td>
      </tr>
     {{/each}}
  </tbody>
  </table>
    <div class="total-label">
      <div class="ui large label">
      <i class="map marker large alternate icon"></i> {{numOfProperties}}
    </div>
     </div>
  </div>      
</div>
</section>

<section class="ui raised segment">
<div class="table-wrapper-wrapper">
  <div class="header-report"> 
     <h3><div class="ui orange large label"> {{ numOfPolygons }} </div> &nbsp;
     <i class="object group outline large icon"></i> 
         Areas on your Map</h3> </div>
      <div class="table-wrapper"> 
    
      <table class="ui celled padded table">
         <thead>
           <th>Title</th>
           <th>Added By</th>
           <th>Delete
             <div class="meta">Owners Only</div>
           </th>
         </thead>
        <tbody>
           {{#each polygons }}  
              <tr>
          <td>
              {{ title }}
          </td>
      
        <td>
          {{ agent.firstName }} &nbsp; {{ agent.lastName }}
        </td>
      <td>
        <a href="/deletepolygon/{{id}}" ><i class="ui trash icon"> </i> </a>
      </td>
      </tr>
     {{/each}}
  </tbody>
  </table>

    <div class="total-label">
     <div class="ui large label">
     <i class="object group large alternate icon"></i> {{numOfPolygons}}
     </div>
   </div>
  </div>      
</div>
</section>


<section class="ui raised segment">
  <div class="table-wrapper-wrapper">
   <div class="header-report"> 
     <h3>
     <div class="ui orange large label"> {{ numOfPolylines }} </div> &nbsp;
     <i class="ui  pencil large icon"></i> Routes on your Map</h3> </div>

    <div class="table-wrapper"> 
      <table class="ui celled padded table">
         <thead>
           <th>Title</th>
           <th>Added By</th>
           <th>Delete
             <div class="meta">Owners Only</div>
           </th>
         </thead>
        <tbody>
         {{#each polylines }}
        <tr>
          <td>
              {{ title }}
          </td>
              <td>
          {{ agent.firstName }} &nbsp; {{ agent.lastName }}
        </td>
           <td>
          <a href="/deletepolyline/{{id}}" ><i class="ui trash icon"> </i> </a>
         </td>
      </tr>
     {{/each}}
  </tbody>
  </table>

  <div class="total-label">
       <div class="ui large label">
       <i class="pencil large alternate icon"></i> {{numOfPolylines}}
       </div>
     </div>
  </div> 
 </div>

</section>



