 <section>
   <style>
        #mapid {
            height: 600px;
            width: 100%;
        }
    </style>
  <div id="mapid"></div>


 <script type="text/javascript">
        var mymap = L.map('mapid').setView([52.345944, -7.321977], 16);
        // create a base layer of map tiles
         L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', 
        {
          attribution: '',
              maxZoom: 18,
          id: 'mapbox/streets-v11',
          accessToken:
          //' {{mapKey}} '
        'pk.eyJ1IjoiamltdGhlZW5jaGFudGVyIiwiYSI6ImNrNXhveWRhdTB5M3QzcW4zM2pmMHMxNnkifQ.ho-Px1mJyDlzc5JD9vgcFQ' 
         }).addTo(mymap);



mymap.on('click', function(e) {
 var lat = e.latlng.lat;
 document.getElementById('lat').value = lat;
})

mymap.on('click', function(e) {
 var long = e.latlng.lng;
 document.getElementById('long').value = long;
})

function onMapClick(e) {
         alert("You clicked the map at " + e.latlng);
        } 
        mymap.on('click', onMapClick       
        );
  
  var greenIcon = new L.Icon({
  iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
  iconSize: [25, 41],
  iconAnchor: [12, 41],
  popupAnchor: [1, -34],
  shadowSize: [41, 41]
});

  var redIcon = new L.Icon({
  iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
  iconSize: [25, 41],
  iconAnchor: [12, 41],
  popupAnchor: [1, -34],
  shadowSize: [41, 41]
});


  var yellowIcon = new L.Icon({
  iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-yellow.png',
  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
  iconSize: [25, 41],
  iconAnchor: [12, 41],
  popupAnchor: [1, -34],
  shadowSize: [41, 41]
});

</script> 

  {{#each properties}}
    <script>    
       L.marker([ {{lat}}, {{long}}],  {icon: {{color}} }).addTo(mymap).bindPopup(` {{eircode}} , {{address}} <br> {{comments}} `);
    </script>
  {{/each}} 
  
    
</section>


