 <section>
   <style>
        #mapid {
            height: 600px;
            width: 100%;
        }
    </style>
  <div id="mapid"></div>


 <script type="text/javascript">
        var mymap = L.map('mapid').setView([52.345944, -7.321977], 16);
        // create a base layer of map tiles
         L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', 
        {
          attribution: '',
              maxZoom: 18,
          id: 'mapbox/streets-v11',
          accessToken: 'pk.eyJ1IjoiamltdGhlZW5jaGFudGVyIiwiYSI6ImNrNXhveWRhdTB5M3QzcW4zM2pmMHMxNnkifQ.ho-Px1mJyDlzc5JD9vgcFQ'
         }).addTo(mymap);




mymap.on('click', function(e) {
 var long = e.latlng.lng;
 document.getElementById('long').value = long;
})

mymap.on('click', function(e) {
 var lat = e.latlng.lat;
 document.getElementById('lat').value = lat;
})


function onMapClick(e) {
         alert("You clicked the map at " + e.latlng);
        } 
        mymap.on('click', onMapClick       
        );
  </script> 

  {{#each properties}}
    <script>    
       L.marker([ {{lat}}, {{long}}]).addTo(mymap).bindPopup(` {{eircode}} <br> {{long}} <br> {{lat}} `);
    </script>
  {{/each}} 
  
    
</section>


