 <section class= "ui section">
   <div class="map-wrapper">
    <div id="logo-overlay">
     <img src="https://res.cloudinary.com/jimtheenchanter/image/upload/v1589366111/SimpleGIS/logo-simplegis-grey150.png"/>
   </div>
   <div id="mapid"></div>
  </div>

  <script type="text/javascript">
        var mymap = L.map('mapid').setView([52.346425, -7.321243], 18);
        // create a base layer of map tiles
         L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', 
        {
          attribution: '',
              maxZoom: 20,
          id: 'mapbox/satellite-v9',
          accessToken: 
          '{{ mapKey }} '         
         }).addTo(mymap);




// User clicks the map which adds coords to make polygon array
var polygon = new L.Polygon([]).addTo(mymap);

mymap.on('click', function(event) {
  // new marker on coordinate
  new L.Marker(event.latlng, {color: 'red', draggable: false}).addTo(mymap);
  polygon.addLatLng(event.latlng);

// populate latlng input box with polyline LatLngs
  document.getElementById('latlng').value = polygon.getLatLngs();

});

</script> 

 
    
{{#each polylines}}
   <script>
      // create an array made up of lat lngs
    arr = [];
    {{#each latlng}}
        console.log("{{this.lat}}  {{this.lng}}")
        mini_arr = [];
        mini_arr.push({{this.lat}});
        mini_arr.push({{this.lng}});
        arr.push(mini_arr);
    {{/each}}
      console.log(arr, "latlng array passed")
      test = new L.polyline(arr);
      test.addTo(mymap)
  L.polyline(arr,  {color: 'orange', title: '{{title}}'}).addTo(mymap).bindPopup(` {{title}} <br> {{agent.lastName}}  `);
    </script>
  {{/each}}

{{#each polygons}}
    <script>

      // create an array made up of lat lngs
    arr = [];
    {{#each latlng}}
        console.log("{{this.lat}}  {{this.lng}}")
        mini_arr = [];
        mini_arr.push({{this.lat}});
        mini_arr.push({{this.lng}});
        arr.push(mini_arr);
    {{/each}}
      console.log(arr, "latlng array passed")
      test = new L.polygon(arr);
      test.addTo(mymap)
  L.polygon(arr,  {color: 'blue', title: '{{title}}'}).addTo(mymap).bindPopup(` {{title}} <br> {{agent.lastName}}  `);
    </script>
  {{/each}}       
    
    
</section>




