 <section>
  <div class="map-wrapper">
  <div id="logo-overlay">
     <img src="https://res.cloudinary.com/jimtheenchanter/image/upload/v1589366111/SimpleGIS/logo-simplegis-grey150.png"/>
   </div>
  <div id="mapid"></div>
  </div>
 
    
 <script type="text/javascript">
        var mymap = L.map('mapid').setView([52.345944, -7.321977], 15);
        // create a base layer of map tiles
         L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', 
        {
          attribution: '',
              maxZoom: 18,
          id: 'mapbox/streets-v11',
          accessToken: 'pk.eyJ1IjoiamltdGhlZW5jaGFudGVyIiwiYSI6ImNrNXhveWRhdTB5M3QzcW4zM2pmMHMxNnkifQ.ho-Px1mJyDlzc5JD9vgcFQ'
         }).addTo(mymap);

var greenIcon = new L.Icon({
  iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
  iconSize: [25, 41],
  iconAnchor: [12, 41],
  popupAnchor: [1, -34],
  shadowSize: [41, 41]
});

  var redIcon = new L.Icon({
  iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
  iconSize: [25, 41],
  iconAnchor: [12, 41],
  popupAnchor: [1, -34],
  shadowSize: [41, 41]
});


  var yellowIcon = new L.Icon({
  iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-yellow.png',
  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
  iconSize: [25, 41],
  iconAnchor: [12, 41],
  popupAnchor: [1, -34],
  shadowSize: [41, 41]
});
 </script> 

  {{#each properties}}
   <script>    
   L.marker([ {{lat}}, {{long}}], {icon: {{color}} } ).addTo(mymap).bindPopup(` {{eircode}} <br> {{address}} `);
    </script>

  {{/each}} 
    {{#each polylines}}
    <script>

      // create an array made up of lat lngs
    arr = [];
    {{#each latlng}}
        console.log("{{this.lat}}  {{this.lng}}")
        mini_arr = [];
        mini_arr.push({{this.lat}});
        mini_arr.push({{this.lng}});
        arr.push(mini_arr);
    {{/each}}
      console.log(arr, "latlng array passed")
      test = new L.polyline(arr);
      test.addTo(mymap)
  L.polyline(arr,  {color: 'orange', title: '{{title}}'}).addTo(mymap).bindPopup(` {{title}} <br> {{agent.lastName}}  `);
    </script>
  {{/each}}

{{#each polygons}}
    <script>

      // create an array made up of lat lngs
    arr = [];
    {{#each latlng}}
        console.log("{{this.lat}}  {{this.lng}}")
        mini_arr = [];
        mini_arr.push({{this.lat}});
        mini_arr.push({{this.lng}});
        arr.push(mini_arr);
    {{/each}}
      console.log(arr, "latlng array passed")
      test = new L.polygon(arr);
      test.addTo(mymap)
  L.polygon(arr,  {color: 'blue', title: '{{title}}'}).addTo(mymap).bindPopup(` {{title}} <br> {{agent.lastName}}  `);
    </script>
  {{/each}}



{{!-- </script> --}}

</section>



