<section class="ui raised segment">
  
    <div class="ui section">
      <div class="map-section">
       {{> mapreport }}
     </div>
<p>
   {{ numOfProperties }}
</p>
         {{#each properties}}
           <div class="ui card">
              <div class="content">
                <p>
                 
                </p>
               <div class="header">{{eircode}}
                
              <img src='https://res.cloudinary.com/jimtheenchanter/image/upload/v1587422142/icons/house-orange.png' class='houseicon'/>
         
               </div>
                 <div class="meta"><a href="editproperty/{{id}}">{{address}}</a></div>
                  {{#if show_delete}}
                        <a href="/deleteproperty/{{id}}" ><button class="ui submit button">Del</button>  </a>
                        {{/if}}
   
                      {{#if show_edit}} 
                        <a href="/editproperty/{{id}}" ><button  class="ui button">View</button>  </a>
             {{/if}}
             </div> 
             
{{!--                     
                  {{#if show_edit}}
                        <a href="/editproperty/{{id}}" ><button  class="ui button">Edit</button>  </a>
                        {{/if}} --}}
           </div>

         {{/each}} 
     </div>

</section>
     
   

    {{#each polylines}}
      <p>
    {{title}} {{agent.firstName}}
      {{#if show_delete}}
      <a href="/deletepolyline/{{id}}" ><button  class="ui submit button">Del</button>  </a>
      {{/if}}
    </p>

   {{/each}}


  {{#each polygons}}
      <p>
    {{title}} {{agent.firstName}}
      {{#if show_delete}}
         <a href="/deletepolygon/{{id}}" ><button  class="ui submit button">Del</button>  </a>
      {{/if}}
    </p>

   {{/each}}