<section class="ui raised segment">
  <div class="ui grid">
    <aside class="sixteen wide column">
       {{>map}}
  
 

    
      <table class="ui celled table segment">
        <thead>
          <tr>
            <th>Eircode</th>
            <th>Longitude</th>
            <th>Latitude</th>
            <th>Agent</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          {{#each properties}}
            <tr>
              <td> {{eircode}} </td>
              <td> {{long}}   </td>
              <td> {{lat}}   </td>
              <td> {{agent.firstName}} {{agent.lastName}} </td>
                <td> 
                  {{#if show_delete}}
                        <a href="/deleteproperty/{{id}}" ><button  class="ui submit button">Del</button>  </a>
                        {{/if}}
                         </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
     </aside>
  </div>
</section>
