{{!-- {{> mainmenu _id="editproperty" }} --}}

<section class="editproperty">

<div class="ui card">
  <div class="image">
    <img src="https://res.cloudinary.com/jimtheenchanter/image/upload/v1587422142/icons/house-orange.png">
 
  </div>
  <div class="content">
    <div class="header">{{property.eircode}}
    <div class="meta">
      <span class="date">{{property.address}}</span>
    </div>
    </div>
    <div class="description">
    <p>  {{ property.comment }}</p>
    </div>
  <div class="ui divider"></div>
  <div class="extra content">
   <a class="ui image label">
    <i class="pin icon"></i>
    {{property.lat}} /{{property.long}}
    </a>
  </div>
</div>
 <button class="ui fluid large submit button"><a href="/report">  <i class="ui return icon"> </i>Back </a></button>
{{> error}}
</div>


        
 

</section>