{{> mainmenu _id="editproperty" }}

<section class="ui raised segment">
  <div class="ui grid ">
    <div class="ui header">
      <h2>
        Edit a premises
      </h2>
      <p>
       Change your property atttributes here. Just edit the text boxes and click Save
  
        
      </p>
    </div>
    <div class="ui form">
     <div class="ui stacked segment">
        <form action="/editproperty" method="POST">
                   {{!-- <input type="hidden" name="property"> --}}
         
                    <div class="field">
                        <label>Eircode</label>
                        <input value="{{property.eircode}}" type="text"  name="eircode" id="eircode" placeholder="{{property.eircode}}">
                    </div>
                    <div class="field">
                        <label>Address</label>
                        <input value="{{property.address}}" type="text"  name="address" id="address" placeholder="{{property.address}}">
                    </div>
                   <div class="ui header">Geo Location</div>
                    <div class="ui two fields">
                     
                     <div class="field">
                         <div class="ui text box">
                            <label>Longitude </label>
                            <input value="{{property.long}}" type="text" id="long" name="long" placeholder="{{property.long}}" accept="integer/*" maxlength="20">
                            {{!-- <input value="{{property.long}}" type="text" id="long" name="long" placeholder="0.000000" accept="integer/*" maxlength="20"> --}}
                        </div>
                    </div>

                     <div class="field">
                        <div class="ui text box">
                            <label>Latitude </label>
                            <input value="{{property.lat}}" type="text" id="lat" name="lat" placeholder="{{property.lat}}" accept="integer/*" maxlength="20">
                        </div>
                      </div>

                    </div>
                  
                  {{!-- <div class="field">
                        <label>Address</label>
                        <input type="text" id="address" rows="2" name="address" >
                    </div>
         --}}
           <button class="ui blue submit button"> Save </button>
        </form>
      </div>
    </div>
     
 </div>

</section>